#container { 
	width: auto; 
	margin: 15px;
	float: center;
	font-family: 'Lato', sans-serif;
	float: left;

}

#container h1
{
color: #6DBCDB;
float: left;
font-size: 3em;
font-weight: 900;
font-style: italic;
}

#container p
{
	float: left;
	font-size: 1em;
	font-weight: 300;
}

#container a
{
	float: left;
}

#container img
{
	float: left;
}

#container ul
{
	float: left;
	margin: 5px 0px;
}

#container li
{
	float: left;
	margin: 5px 0px;
}

#top
{
	margin: 20px;
}

#results {
width: 150px;
height: 50px;
font-family: "Arial";
font-size: 14pt;
border-radius: 7px;
color: #666;
text-align: center;
}


.banButton {
margin: 10px 0px;
padding: 0;
width: 150px;
height: 50px;
border: 0;
font-family: "Arial";
font-size: 14pt;
font-weight: bold;
border-radius: 7px;
color: #666;
background: #FFBE1A;
text-align: center;
/* border-top: 1px solid #6DBCDB; */
}


.banButtonRed {
margin: 10px 0px;
padding: 0;
width: 150px;
height: 50px;
border: 0;
font-family: "Arial";
font-size: 14pt;
font-weight: bold;
border-radius: 7px;
color: #666;
background: #FF5454;
text-align: center;
/* border-top: 1px solid #6DBCDB; */
}